<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        body{
            background-color: aquamarine;

        }

        header{
            background-color: ;
        }

        header h1{
            text-transform: uppercase;
        }

        label{
           margin: 5px 5px;
        }

        #user{
            background-color: black;
            border: 1px solid transparent;
            color: ghostwhite;

            padding: 10px;
        }
    </style>
</head>
<body>
<header>
    <h1>
        armageddon
    </h1>
</header>
    <form>
        <label id="user">Username:
            <input type="text" name="username" required placeholder="user, email-address">
        </label>
        <label style="display: block">Password:
            <input type="password" name="password" required placeholder="password">
        </label>
    </form>
</body>
</html>